import(deSolve)
import(RColorBrewer)
import(splines)
import(zoo)
export(assign.mac.soil)
export(catf.batch.cleanup)
export(del.files)
export(discretize.mak)
export(discretize.pipe)
export(discretize.rect)
export(fromArcGIS)
export(get.realworld.coords)
export(mac.grid)
export(make.geometry)
export(make.simgrid)
export(plot.catf.bal)
export(plot.catf.grid)
export(plot.catf.movie)
export(plot.macros)
export(read.catf.balance)
export(read.catf.resultmat)
export(read.catf.results)
export(read.channelflow.out)
export(read.climate)
export(read.evapo.out)
export(read.facmat)
export(read.geofile)
export(read.precip)
export(read.soil.mat)
export(read.surfrun.out)
export(sim.mak)
export(sim.pipe)
export(sim.rectmak)
export(use.psi.fin)
export(write.CATFLOW.IN)
export(write.climate)
export(write.control)
export(write.facmat)
export(write.precip)
export(write.printout)
export(write.surface.pob)
export(zoom)